.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  padding: 46px 64px 52px;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
  border-bottom: 1px solid #dadde1;
  margin-bottom: 44px;
}

.box {
  display: flex;
  flex-direction: column;
}
.infoForma {
  display: flex;
  gap: 40px;
}

@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }
  .container {
    max-width: 767px;
    padding: 46px 14px 52px;
  }
  .box {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  gap: 40px;
  width: 100%;
}
.link {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  text-decoration: none;
  padding-bottom: 24px;
}
.link:hover {
  color: #475467;
}
.activeLink {
  border-bottom: 5px solid #e44848;
}
