.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.inputDate {
  min-width: 524px;
}
.react-datepicker {
  /* font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 0.8rem; */
  background-color: #fff;
  /* color: #000; */
  color: #101828;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  line-height: initial;
}
/* Основной стиль календаря */
.customCalendar {
  /* width: 276px; */
  background-color: #ffffff; /* Фон календаря */
  border: 1px solid #475467 !important;
  color: #101828 !important;
  border-radius: 12px !important; /* Скругленные углы */
  padding: 12px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* Стили для дней */
.customCalendar .react-datepicker__day {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #101828 !important;
  padding: 8px;
  margin: 2px;
  transition: all 0.3s ease;
}

/* При наведении */
.customCalendar .react-datepicker__day:hover {
  border-radius: 32px !important;
  background-color: #475467 !important; /* Цвет фона */
  color: #f7f7f7; /* Цвет текста */
  cursor: pointer;
}

/* Выбранный день */
.customCalendar .react-datepicker__day--selected {
  background-color: #475467 !important; /* Фон выбранного дня */
  color: #f7f7f7; /* Цвет текста */
}

/* Текущий день */
.customCalendar .react-datepicker__day--today {
  font-weight: bold;
  border: 1px solid #b3009b !important;
}

/* Месяц и год в заголовке */

.customCalendar .react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  background-color: #b3009b;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #101828 !important;
}
.react-datepicker .react-datepicker__current-month {
}

/* Навигационные кнопки (стрелки) */
.customCalendar .react-datepicker__navigation {
  border: 0;
  background: none;
  cursor: pointer;
}

.react-datepicker .react-datepicker__navigation--previous {
  border-right: 6px solid #475467 !important;
}

.customCalendar .react-datepicker__navigation--next {
  border-left: 6px solid #475467 !important;
}

/* Отключенные дни */
.customCalendar .react-datepicker__day--disabled {
  color: #475467;
  cursor: not-allowed;
}

/* Всплывающие месяца */
.customCalendar .react-datepicker__month {
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 4px;
}

/* Список недельных дней */
.customCalendar .react-datepicker__day-names {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  color: #475467;
  text-transform: uppercase;
}

/* Стили для времени, если используется time picker */
/* .customCalendar .react-datepicker__time-container {
  background-color: #f9f9f9;
  border-left: 1px solid #007bff;
} */
