* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*background-body*/
  --background-body: #fff;

  /* color-text:  */
  --text-colorB: #101828;
  --text-colorM: #475467;
  --text-colorL: #6c717b;
  --text-colorW: #fff;
  --text-icon: #e44848;
  --text-focus: #d84343;

  /*fill-icon*/
  --fill-icon: #101828;

  /*color-underline*/
  --color-underline: #e44848;

  /* background-button:  */
  --background-button: #e44848;
  --background-button-hover: #d84343;
  --background-buttonW: transparent;

  /*color-border*/
  --color-border: #dadde1;
  --color-border-button-hover: #d84343;
  --color-border-icon-selected: #e44848;

  /* background-star:  */
  --background-star-none: #f2f4f7;
  --background-star: #ffc531;

  /*background-header*/
  --background-header: #f2f4f7;

  /*background-features*/
  --background-features: #f7f7f7;

  /*background-categories*/
  --background-categories: #f2f4f7;

  /*background-form*/
  --background-form: #f7f7f7;

  /*background-icon*/
  --background-icon: #f2f4f7;

  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #475467;
  background-color: #fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
p {
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  border-radius: 200px;
  border: none;
  padding: 16px 60px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-button);
  color: var(--text-colorW);
  cursor: pointer;
  transition: all 0.25s;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
input {
  color: var(--text-colorB);
}
